.column_transparent_div {
    background-color: rgba(46, 47, 48, 0.45);
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
    max-width: 400px;
}

.project_container_div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.project_div {
    display: grid;
    grid-template-areas:
        "title          github"
        "project_text   project_text"
        ".              read_more"
    ;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 25px 25px 25px 25px;
}

.project_div:hover .read_more {
    color: #7DFF88;
}

@keyframes project_focus {
    from { margin: 25px 25px 25px 25px; }
    to { margin: 25px 15px 15px 15px; }
}
.project_div:hover {
    animation: project_focus 0.1s forwards;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    position: relative;
}

.javascript_project {
    padding: 0;
    border-top: 2px solid yellow;
}

.rust_project {
    padding: 0;
    border-top: 2px solid #dea584;
}

.go_project {
    padding: 0;
    border-top: 2px solid #00ADD8;
}

.cplusplus_project {
    padding: 0;
    border-top: 2px solid #f34b7d;
}

.solidity_project {
    padding: 0;
    border-top: 2px solid #AA6746;
}

.project_title {
    grid-area: title;
    margin: 15px 0 5px 15px;
    padding: 0;
    font-size: 15px;
}
.project_github {
    grid-area: github;
    text-align: right;
    margin: 15px 15px 5px 0;
    padding: 0;
    font-size: 15px;
}

.project_github > a:hover {
    color: #7DFF88;
    cursor: pointer;
}

.project_text {
    grid-area: project_text;
    margin: 3px 15px 3px 15px;
    padding: 0;
}

.read_more {
    grid-area: read_more;
    text-align: right;
    color: rgba(125, 255, 136, 0.5);;
    margin: 0 15px 15px 0;
    padding: 0;
}