@-webkit-keyframes move_in {
    from { width: 95%; }
    to { width: 90%; }
}

.title_component_div {
    margin-top: 12%;
    -webkit-animation: move_in 1s forwards;
    animation: move_in 1s forwards;
    text-align: left;
    float: right;
}

.hello {
    margin-left: 5px;
    margin-bottom: -15px;
    padding: 0px;
    font-size: 21px;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 70px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

.summary_div {
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-left: 5px;
}
.blurb_title {
    padding-top: 15px;
}

.blurb_title > b {
    color: #7DFF88;
}

.summary_div > h3 {
    font-size: 12px;
    margin: 0px;
}

.title_component_div > button {
    background: none;
    font-size: 14px;
    color: #7DFF88;
    margin-top: 30px;
    font-family: Arial-Black, Arial;
    border: 1px solid #7DFF88;
    border-radius: 10px;
    height: 45px;
}

@-webkit-keyframes color_change {
    from { color: #7DFF88; background-color: none; }
    to { color: #222123; background-color: #7DFF88; }
}

.title_component_div > button:hover {
    -webkit-animation: color_change 0.5s forwards; /* Forwards so the animation stays persistent */
    animation: color_change 0.5s forwards;
    cursor: pointer;
}

.want_to_hire_button {
    margin-right: 20px;
    width: 180px;
}

.about_button {
    width: 120px;
}

/* About me div */
.full_size_div {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: none;
}

.close_button_about_me {
    margin: 0;
    margin-right: -15px;
    padding: 0;
    font-size: 12px;
    float: right;
    color: #7DFF88;
}

.tech_stack_div > p > b:hover,
.close_button_about_me:hover {
    color: #7DFF88;
    opacity: 0.8;
    cursor: pointer;
}

.about_me_div {
    background-color: #2E2E2E;
    -webkit-box-shadow: 0px 0px 150px 144px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 150px 144px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 150px 144px rgba(0,0,0,0.75);
    z-index: 3;
    height: auto;
    width: 30%;
    position: absolute;
    top: 15%;
    left: 35%;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.about_me_text_div {
    z-index: 3;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_me_sub_text {
    overflow: scroll;
    flex-grow: 1;
    display: grid;
    padding-right: 40px;
    font-size: 12px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "languages      social"
        "tech_stack     tech_stack"
        "more           more"
    ;
}

.about_me_sub_text > div > div > h2,
.about_me_sub_text > div > h2 {
    color: white;
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
}

.about_me_sub_text > div > div > ul,
.about_me_sub_text > div > ul {
    list-style-type: none;
    float: left;
    padding-left: 0;
    margin-top: 12px;
}

.about_me_sub_text > div > div > ul > li,
.about_me_sub_text > div > ul >  li {
    padding-bottom: 5px;
    font-size: 12px;
    margin-left: 1px;
}

.about_me_sub_text > div > div > ul > li:hover,
.about_me_sub_text > div > ul >  li:hover {
    color: #7DFF88;
    cursor: pointer;
}

.languages_div {
    grid-area: languages;
}

.social_div {
    grid-area: social;
}

.social_div > div {
    padding-left: 80px;
}

.tech_stack_div {
    grid-area: tech_stack;
}

.more_div {
    grid-area: more;
}

.about_me_div > * > h1 {
    color: #7DFF88;
    font-size: 50px;
    margin: 0 0 10px -5px;
    padding: 0;
}