.toggle_animation_grid_container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: visible;
}

.toggle_animation_span {
    margin-left: 15px;
    overflow: visible;
}

.toggle_animation_span > * {
    display: inline-block;
}

.toggle_animation_text {
    font-size: 10px;
    padding-right: 10px;
}

