.toggle_animation_grid_container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: visible;
}

.toggle_animation_span {
    margin-left: 15px;
    overflow: visible;
}

.toggle_animation_span > * {
    display: inline-block;
}

.toggle_animation_text {
    font-size: 10px;
    padding-right: 10px;
}

.language_div {
    height: 100%;
    float: right;
    font-size: 10px;
    margin-right: 30px;
}

.language_div > select,
.language_div > select > option {
    float: right;
    background: black;
    color: white;
    border: none;
    padding: 5px;
}

.language_div > select:hover {
    cursor: pointer;
}

.language_div > select:focus {
    outline: 0;
}


